@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";

$Red: #ff0000;
$Blue: blue;
$Black: #000000;
$Orange: #ec7323;

.address {
    font-family: Anton;
    @include font-size(5rem);
    letter-spacing: 0rem;
    color: #000000;
    text-transform: uppercase;
}

.address-link:link {
    text-decoration: none;
    color: #000000;
}

.address-link:visited {
    text-decoration: none;
    color: #000000;
}

.address-link:hover {
    text-decoration: none;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
    color: #fff
}

.address-link:active {
    text-decoration: none;
    color: #000000;
}


body {
    background-color: #000000;
    font-family: Source Sans Pro, sans-serif;
    color: #fff;

}

.btn-header {
    border-radius: 0px;
}

.btn-showtime {
    font-family: Source Sans Pro;
    @include font-size(1.2rem);


}

.bgBlack {
    background-color: $Black;

}

.bg-image {
    background: url("./img/jeff.jpg") no-repeat fixed center/cover,
        transparent linear-gradient(60deg, #000000 0%, #808080 50%) 0% 0% no-repeat padding-box;
    background-blend-mode: multiply;

}

.carousel-indicators [data-bs-target] {
    position: relative;
    background-color: transparent;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.1rem solid #ffffff;
    border-radius: 100%;
    margin-right: 1rem;

}

.carousel-indicators .active {
    background-color: #fff;
}


.card-title {
    font-family: Anton;
    @include font-size(3rem);
    text-transform: uppercase;
}

.card-header {
    font-family: Source Sans Pro;
    font-weight: bold;
    @include font-size(1.2rem);
    text-transform: uppercase;

}

.poster {
    max-height: 40rem;
    border: 0.06rem solid #FFFFFF;
}

.jumbotron {
    font-family: Anton;
    @include font-size(10rem);
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}



.jumbotron-subtitle {

    font: normal normal normal 2rem/2rem Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.14rem;
}

.nav-link {
    font: normal normal 300 1.5rem/1.5rem Source Sans Pro;
    color: #fff;
    letter-spacing: 2px;
}


.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 16px #fff,
            0 0 44px #fff,
            0 0 76px #fff,
            0 0 16px $Red,
            0 0 320px $Red,
            0 0 360px $Red,
            0 0 400px $Red,
            0 0 600px $Red;
    }

    0% {
        /* Smaller blur radius */
        text-shadow:
            0 0 4px #fff,
            0 0 8px #fff,
            0 0 12px #fff,
            0 0 20px $Red,
            0 0 90px $Red,
            0 0 110px $Red,
            0 0 140px $Red,
            0 0 160px $Red;
    }
}

.bgTheatre {
    background-image: url("../img/theatre_entrance_desat.jpg");
}

.img-wrapper {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;
}

.trailerbg {
    background-image: url("../img/theater.png");
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.entrance-bg {
    background-image: url("../img/theatre_entrance.jpg");
    min-height: 75vh;
    overflow: hidden;
    height: 100%;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;


}

.section-header {
    font-family: Anton;
    @include font-size(5rem);
    letter-spacing: 0rem;
    color: #fff;
    text-transform: uppercase;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 5vw;
    height: 5vw;
}