@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";

$Red: #ff0000;
$Blue: blue;
$Black: #000000;
$Orange: #ec7323;

body {
    background-color: #000000;
    font-family: Source Sans;
}


.bgBlack {
    background-color: $Black;

}

.bg-image {
    background: url("../img/jeff.jpg") no-repeat fixed center/cover,
    transparent linear-gradient(60deg, #000000 0%, #808080 50%) 0% 0% no-repeat padding-box;
    background-blend-mode: multiply ;

}

.jumbotron {
    font: normal normal normal 10rem/10rem Anton;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.jumbotron-subtitle {

    font: normal normal normal 2rem/2rem Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.nav-link {
    font: normal normal 300 1.5rem/1.5rem Source Sans Pro;
    color: #fff;
    letter-spacing: 2px;
}


.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 16px #fff,
            0 0 44px #fff,
            0 0 76px #fff,
            0 0 16px $Red,
            0 0 320px $Red,
            0 0 360px $Red,
            0 0 400px $Red,
            0 0 600px $Red;
    }

    0% {
        /* Smaller blur radius */
        text-shadow:
            0 0 4px #fff,
            0 0 8px #fff,
            0 0 12px #fff,
            0 0 20px $Red,
            0 0 90px $Red,
            0 0 110px $Red,
            0 0 140px $Red,
            0 0 160px $Red;
    }
}

.bgTheatre {
    background-image: url("../img/theatre_entrance_desat.jpg");
}

.img-wrapper {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;
}

.trailerbg {
    background-image: url("../img/theater.png");
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.entrance-bg {
    background-image: url("../img/theatre_entrance.jpg");
    min-height: 75vh;
    overflow: hidden;
    height: 100%;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;


}